<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">



<servlet>
    <servlet-name>Greeting</servlet-name>
    <servlet-class>edu.school21.cinema.servlets.GreetingServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>Greeting</servlet-name>
    <url-pattern></url-pattern>
</servlet-mapping>

    <servlet>
        <servlet-name>Profile</servlet-name>
        <jsp-file>/WEB-INF/jsp/Profile.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>

<!--<servlet>-->
<!--    <servlet-name>Profile</servlet-name>-->
<!--    <servlet-class>edu.school21.cinema.servlets.ProfileServlet</servlet-class>-->
<!--</servlet>-->
<!--<servlet-mapping>-->
<!--    <servlet-name>Profile</servlet-name>-->
<!--    <url-pattern>/profile</url-pattern>-->
<!--</servlet-mapping>-->

<servlet>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>edu.school21.cinema.servlets.SignInServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/signIn</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>edu.school21.cinema.servlets.SignUpServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/signUp</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>DownloadImage</servlet-name>
    <servlet-class>edu.school21.cinema.servlets.DownloadImageServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>DownloadImage</servlet-name>
    <url-pattern>/image</url-pattern>
</servlet-mapping>


    <filter>
        <filter-name>ProfileFilter</filter-name>
        <filter-class>edu.school21.cinema.filters.ProfileFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ProfileFilter</filter-name>
        <servlet-name>Profile</servlet-name>
        <servlet-name>DownloadImage</servlet-name>
    </filter-mapping>

    <filter>
        <filter-name>SignFilter</filter-name>
        <filter-class>edu.school21.cinema.filters.SignFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SignFilter</filter-name>
        <servlet-name>SignUp</servlet-name>
        <servlet-name>SignIn</servlet-name>
    </filter-mapping>


<listener>
    <listener-class>edu.school21.cinema.listeners.MyServletContextListener</listener-class>
</listener>


</web-app>